<div class="page-container">
    <ng-container *ngIf="!isLoading && wallet; else loadingState">

        <nz-page-header [nzGhost]="false" [nzTitle]="wallet.wallet_name" nzSubtitle="Detalhes da carteira">
            <nz-page-header-extra>
                <button nz-button [routerLink]="['/wallets']">
                    <i nz-icon nzType="arrow-left"></i>
                    Voltar para a Lista
                </button>
                <button nz-button nzType="primary">Adicionar Conta</button>
            </nz-page-header-extra>
        </nz-page-header>

        <nz-card class="table-card" nzTitle="Contas de Fidelidade nesta Carteira">
            <nz-table #basicTable [nzData]="loyaltyAccounts" [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>Programa</th>
                        <th>Saldo</th>
                        <th>Tipo Moeda</th>
                        <th>Custo Médio (milheiro)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of basicTable.data">
                        <td>{{ account.program_name }}</td>
                        <td>{{ account.current_balance | number }}</td>
                        <td>
                            <nz-tag [nzColor]="account.program_currency_type === 'Milhas' ? 'blue' : 'gold'">
                                {{ account.program_currency_type }}
                            </nz-tag>
                        </td>
                        <td>{{ account.average_cost | currency:'BRL' }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>

    </ng-container>

    <ng-template #loadingState>
        <div class="spinner-container">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
    </ng-template>
</div>