name: Build and deploy container app to Azure Web App - easymiles-backend

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
  workflow_dispatch:

jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       working-directory: ./backend # Define o diretório padrão

  #   steps:
  #   - name: 'Checkout código'
  #     uses: actions/checkout@v4

  #   - name: 'Configurar Python'
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: '3.11'

  #   - name: 'Instalar dependências'
  #     run: |
  #       pip install --upgrade pip
  #       pip install -r requirements.txt

  #   - name: 'Rodar Testes (Pytest)'
  #     env:
  #       SECRET_KEY: 'test-key-ci'
  #       DEBUG: 'True'
  #       DB_ENGINE: 'django.db.backends.sqlite3'
  #       DB_NAME: ':memory:'
  #     run: pytest --cov=api

  # Job de Build
  build:
    runs-on: ubuntu-latest
    #needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: easymilesregistry.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_5C7763A806DC427DBE5C4FF12D601815 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_E1B4D4A558F641CEA3C1139293538210  }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: ./backend
          file: ./backend/Dockerfile

          push: true
          tags: easymilesregistry.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_5C7763A806DC427DBE5C4FF12D601815 }}/easymiles-backend:${{ github.sha }}

  # Job de Deploy
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: "easymiles-backend"
          slot-name: "Production"
          images: "easymilesregistry.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_5C7763A806DC427DBE5C4FF12D601815 }}/easymiles-backend:${{ github.sha }}"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_544B3EACE619408E999600FCD45675B0 }}
